
.img-wrapper {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 margin-bottom: 2.7rem;
 margin-top: 7.7rem;
 justify-content: center;
 margin-left: 7rem;
 margin-right: 7rem;
}

.image-square:hover{
    transform: scale(1.1);
}

.image-square {
    height: 200px;
    width: 200px;
    margin: 5px;
    border: 1px solid #45A29E;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.imagepage-container {
    min-height: 100vh;
    background: #1F2833;
    width: 100vw;
}

.innerimage-container {
    border: 1px solid #45A29E;
    margin-top: 100px;
    margin-bottom: 100px;
}

.display-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;

}

.add-image-button {
    text-decoration: none;
    border:1px solid black;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 7px;
    margin-top: 75px;
    margin-bottom: -100px;
    height: 15px;
}

.button-add {
    display: flex;
    justify-content: center;
}

.main-image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.image-content {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.image-content-word {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.posted-by-images{
    color: #45A29E;
}

@media screen and (max-width: 600px){
    /* .img-wrapper{
        margin-top: 12rem;
    } */
    .add-image-button{
        margin-top: 8rem;
    }
}