
*{
    margin: 0;
}

.homepage-container {
    background-image: url("https://images.unsplash.com/photo-1529257414772-1960b7bea4eb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
    width: 100vw; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.homepage-header {
    color:white;
    font-size: 3rem;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.homepage-info {
    color: white;
    font-size: 2rem;
}

.homepage-writing {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.homepage-login {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    
}

.homepage-login:hover {
    background: black;
    color: white;
    transition: background-color 1s ease-in-out;
}
.meow {
    width: 100px;
    color: #66FcF1;
    transition-delay: 2s;
    /* font-family: cursive; */
    margin-left: 5px;
    /* font-weight: bold; */
    /* transition: color 2s ease; */
}

