.footer-bar {
    /* display: flex; */
    width: 100vw;
    background: rgb(74, 74, 74);
    height: 60px;
    bottom: 0;
    position: relative;
    
}

.footer-header {
    /* background: black; */
    width: 100%;
    height: 100%;
    color: white;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: white;
}

.links {
    text-decoration: none;
    color: black;
}