.edit-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.edit-image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    background: white;
}

.edit-labels {
    display: flex;
    align-items: center;

}

.error-list {
    background: rgba(255, 0, 0, 0.447);
    border-radius: 10px;
}

.edit-image-header {
    justify-content: center;
    display: flex;
    color: black;
}

.edit-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.edit-image-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.web-button2{
    margin-left: 5px;
    border: 1px solid black;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 8px;
}

.web-button2:hover{
    color: white;
    background: #1F2833;
    cursor: pointer;
}