.add-image-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.add-image-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}