.body {
    background: #1F2833;
}

.comments-header {
    border-bottom: 1px solid white;
    margin-top: 15px;
    color: white;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 125px;
    height: 80vh;
    overflow: scroll;
}

.main-comment-box {
    border: 1px solid #45A29E;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 40vw;
    display: flex;
    background: white;
}

.display-comments {
    text-decoration: none;
    list-style-type: none;
    
}

.posted-by {
    margin-top: 15px;
    border: 1px solid #45A29E;
    width: 100%;
    /* border-radius: 10px; */
    /* padding: 2px; */
}