.body {
    background: #1F2833;
}

.comments-header {
    border-bottom: 1px solid white;
    margin-top: 15px;
    color: white;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8rem;
    margin-bottom: 125px;
    height: 80vh;
    overflow: auto;
    border: 1px solid #45A29E;
    border-radius: 10px;
    padding: 10px;
}

.main-comment-box {
    border: 1px solid #45A29E;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 80%;
    display: flex;
    background: white;
}

.display-comments {
    text-decoration: none;
    list-style-type: none;
    width: 100%;
}

.posted-by {
    margin-top: 15px;
    /* border: 1px solid #45A29E; */
    width:fit-content;
    text-decoration: underline;
    font-size: 1rem;
}

.posted-delete{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* flex-direction: column; */
    width: 100%;
}

.comment-buttons{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding: 0px;
    height:fit-content;
    margin-left: 5px;
}

.comment-buttons:hover{
    cursor: pointer;
}

/* @media screen and (max-width: 800px){
    .comments-container{
        width: 80vw;
    }
} */