body {
   margin:0;
   padding:0;
   height:100%;
}

.image-detail-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: #1F2833;
    padding-bottom: 17rem;
    width: 100vw;
}

.image-and-comments{
    width: 45vw;
    height: 100%;
    margin-top: 9.5rem;
}

.scroll-comments{
    margin-top: 7.5rem;
    width: 45vw;
    height: 100%;
}

.image-detail {
    margin-top: 30px;
    border: 1px solid #45A29E;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.details-header {
    /* margin-top: 75px; */
    border-bottom: 1px solid white;
    color: white;
}

.posted-delete{
    display: flex;
    justify-content: space-between;
}