*{
    margin: 0;
}

.loginform-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    /* background: white; */
    background: #1F2833;
}

.inner-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    /* justify-content: space-around; */
}

.error-list {
    background: #66FCf1;
    /* border: 1px solid red; */
    /* margin-bottom: 1rem; */
}

 .form-input {
    margin-top: 5px;
    display: flex;
    align-items: center; 
 } 

.form-labels {
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.login-button {
    width: 75%;
    background:#C5C6C7;
}

.signup-button-main {
    width: 75%;
    margin-top: 5px;
    /* border-radius: 10px; */
    background: #C5C6C7;
    color: white;
}

.signup-button-main:hover {
    background: #1F2833;
}
