
.profile-dropdown {
    list-style-type: none;
    padding-left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background: white;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
}

.profileopen-button {
    margin-right: 10px;
    width: 40px;
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 10px;
}

.loggedin-buttons {
    z-index: 1;
    display:block;
    flex-direction: column;
    height: auto;
    /* position: relative; */
}

.dropdown-words {
    margin-top: 5px;
    border-bottom: 1px solid black;
    color: black;
}

.profile-button {
    margin-top: 15px;
}

.fa-user-circle{
    color: #66FcF1;
    font-size: 1.5rem;
}

.fa-user-circle:hover{
    cursor: pointer;
}